@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    background-color: black;
    color: azure;
    padding: 0.6em;
}

.title h1 {
    color: azure;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

.post {
    align-items: center;
    background-size: 300px;
}

.message p {
    float: right;
    text-align: center;
    padding-right: 10em;
    padding-top: 15em;
    
}

.message a {
    text-decoration: none;
}

.backspace {
    
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}